# Python
__pycache__/
*.py[cod]
.venv/
venv/
env/
.env
.env.*

# Kafka
kafka-logs/
*.log
*.log.*

# AWS / secrets
.aws/
*.pem
credentials
secrets.json

# Data files
*.csv
*.parquet
*.json.gz
*.ndjson

# OS / editor
.DS_Store
*.swp
*.swo
*~
.idea/
.vscode/
